/* RESET (VERY IMPORTANT) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  font-family: Arial, sans-serif;
  background-color: #0f2a1f; /* Rolex / Hermès green */
  color: white;
}

/* Hermès-style header */
.lux-header {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-ind
